<launch>
    <!-- <include file="$(find rslidar_sync)/launch/middle_lidar.launch" /> -->
    <!-- <include file="$(find rslidar_sync)/launch/right_lidar.launch" /> -->
    <!-- <include file="$(find rslidar_sync)/launch/left_lidar.launch" /> -->
    
   <node  name="rslidar_sync_3lidar" pkg="rslidar_sync" type="rslidar_sync_3lidar_node" output="screen" >
    <param name="scan1_topic" value="/left/sync_header"/>
    <param name="scan2_topic" value="/middle/sync_header"/>
    <param name="scan3_topic" value="/right/sync_header"/>

    <param name="skippackets1_topic" value="/left/skippackets_num"/>
    <param name="skippackets2_topic" value="/middle/skippackets_num"/>
    <param name="skippackets3_topic" value="/right/skippackets_num"/>

    <param name="sync_packet_diff_topic" value="/sync_packet_diff"/>

    <!-- setting if the three lidars are all RS32 -->
    <param name="is_all_rs32_lidars" value="false"/>
  </node>
</launch>
