<launch>
  <arg name="manager" default="rslidar_nodelet_manager" />
  <arg name="device_ip" default="192.168.1.200" />
  <arg name="model" default="RS16" />
  <arg name="msop_port" default="6699" />
  <arg name="difop_port" default="7788" />

  <!-- start nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" />

  <!-- load driver nodelet into it -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)_driver"
        args="load rslidar_driver/DriverNodelet $(arg manager)" output="screen">
    <param name="model" value="$(arg model)"/>
    <param name="device_ip" value="$(arg device_ip)" />
    <param name="msop_port" value="$(arg msop_port)" />
    <param name="difop_port" value="$(arg difop_port)"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)_cloud"
        args="load rslidar_pointcloud/CloudNodelet $(arg manager)" output="screen">
    <param name="model" value="$(arg model)"/>
    <param name="curves_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/curves.csv" />
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_lidar_16/ChannelNum.csv" />

  </node>
</launch>
