<launch>
    <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="pcap" value="/home/tony-sti/lidar_data/lm75-170616-roadtest.pcap" />
	</node>

     <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
	  </node>

</launch>

